.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    max-width: 1280px;
    margin: 0 auto;
}

.container::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url('../../../../public/gplay.png');
    opacity: 0.04;
    pointer-events: none;
  }

  .heading {
    font-size: 40px;
  }
  