.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 3rem;
    padding: 3rem 2rem 4rem 2rem;
    color: var(--color-text-secondary);
    scroll-margin-top: 80px;

    @media screen and (min-width: 900px) {
        padding: 3rem 6rem;
    }
}

.heading {
    align-self: center;
}

.cardsWrapper {
    display: flex;
    flex-direction: column;
}
