.container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 3rem 2rem 4rem 2rem;

    @media screen and (min-width: 900px) {
        padding: 3rem 6rem;
    }
}

/*.heading {
    background-color: pink;
}*/

.first {
    background-color: antiquewhite;
}

.second{
  background-color: lightcyan;
}

.third{
   background-color: lightblue;
}