* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

:root {
  --color-bg-primary: #FFFBF1;
  --color-bg-secondary: #f8f3e9;
  --color-text-primary: #faf8ff;
  --color-text-secondary: #3B3B3B;
  --color-link: #faf8ff;
  --color-extra: #FF6F61;
  --shadow-glow: 0 0 20px rgba(205, 180, 255, 0.4);
  --radius-none: 0px;
  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 16px;
  --size-icon-sm: 32px;
  --size-icon-md: 40px;
  --size-icon-lg: 48px;
  --padding-sm: 0.5rem;
  --padding-md: 0.75rem;
  --padding-lg: 1rem;
  --padding-xl: 1.25rem;
}

body {
  background: var(--color-bg-primary);
  font-family: var(--font-montserrat);
  --webkit-font-smoothing: antialiased;
  --moz-osx-font-smoothing: grayscale;
  color: var(--color-text-secondary);
}

h1 {
  font-family: var(--font-montserrat);
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 300;
  margin-bottom: 1rem;
  color: var(--color-text-secondary);
  font-style: italic;
}

/* PostCard */
h2 {
  font-family: var(--font-playfair);
  font-size: 2.5rem;
  font-weight: normal;
  font-style: italic;
  letter-spacing: 0.03em;
  line-height: 1.2;
  color: var(--color-text-secondary);

}

h3 {
  font-family: var(--font-montserrat);
  font-size: 2rem;
  line-height: 1.4;
  font-weight: 400;
  margin-bottom: .75rem;
  color: var(--color-text-secondary);
}

h4 {
  font-family: var(--font-montserrat);
  font-size: 1.5rem;
  line-height: 1.4;
  font-weight: 500;
  margin-bottom: .5rem;
}

h5 {
  font-family: var(--font-montserrat);
  font-size: 1.25rem;
  line-height: 1.5;
  font-weight: 500;
  margin-bottom: .5rem;
}

p {
  font-family: var(--font-montserrat);
  font-size: 1rem;
}

a {
  font-family: var(--font-montserrat);
}

.section {
  padding: 2rem 1.5rem
}

@media screen and (min-width: 900px) {
  .section {
    padding: 3rem 4rem;
  }
}