.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    transition: background 0.3s, transform 0.1s;
    overflow: hidden;
}

.button:hover {
  opacity: 0.8;
  transform: scale(1.05);
}

.primary {
  background-color: #007bff;
  color: white;
}

.submit {
  background-color: lightblue;
  color: black;
}

.modaldrawer {
  border: 2px solid #FFDA00;
  background-color: #FFDA00;
  color: black;
}