.postcardWrapper {
  width: 100%;
  max-width: 600px; /* or whatever feels right */
  margin: 0 auto;
}


.postcard {
  /*background: #fefefb;*/
    background: var(--color-bg-secondary);
    background-image: url('../../../../public/postcard-texture.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    padding: 2rem 4rem;
    border: 1px solid #dcdcdc;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.01);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    min-width: 331px;
    position: relative;
    z-index: 0;

    @media screen and (min-width: 900px) {
      margin: 2rem 0 0 0;
    }
}

.postcard::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url('../../../../public/gplay.png');
  opacity: 0.04;
  pointer-events: none;
  z-index: -1; /* This is key */
}

.stampPlaceholder {
  width: 80px;
  height: 80px;
  border: 1px solid gray;
  align-self: end;
}

.addressRow {
border-bottom: 1px solid gray;
}

.controls {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 1rem 0;
  justify-content: center;
}

.badge {
  padding: 0.4rem 0.8rem;
  border-radius: 999px;
  background: #eee;
  border: none;
  cursor: pointer;
  font-size: 0.85rem;
  transition: background 0.2s ease;
}

.badge:hover {
  background: #ddd;
}

.active {
  background: #4A3F35;
  color: white;
}

.helperText {
  text-align: center;
  font-size: 0.9rem;
  color: #555;
  margin-bottom: 0.5rem;
  font-family: 'Montserrat', sans-serif;
}
